$BASE_FONT_SIZE = 16px
$BASE_LINE_HEIGHT = 18px
$FONT_SIZE = 13px
$FONT = Helvetica, Arial, Verdana, sans-serif
$TITLE_FONT = $FONT

$GRAY = #666
$GRAY_LIGHT = #aaa
$GRAY_LIGHTER = #eee
$FONT_COLOR = #444
$HEADING_COLOR = #222
$LINK_COLOR = #004F7E